

body{
    background: linear-gradient(#ffffff, #b34ef6);
    min-height: 100vh;
}
/*******************HEADER**********************/

h1{
    float: left;
    margin-left: 10px;
    font-family: cursive;
    clear: both;
}
h1 a {
    text-decoration: none;
}
h1 a :visited{
    color: black;
}
h1 a :hover{
    color: plum;
}
nav{
    float: right;
    margin-top: 10px;
   
}
nav ul li {
    display: inline-block;
    margin-right: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav ul li a{
    text-decoration: none;
}
nav ul li a :visited{
    color: black;
}
nav ul li a :hover{
    color: plum;
}

/****div*****/

.about{
    clear: both;
    padding-top: 50px;
    text-align: center;
    padding: 30px;
    margin: 70px;
    text-transform: lowercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/****************svg**********/
svg{
    width: 30%;
    height: 30%;
}
.svg{
    margin-left: 40px;
}
#firework{
    animation-name: fire;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes coeur{
    0%{
       opacity: 0; 
    }
    50%{
        opacity: 0.5s;
    }
    100%{
        opacity: 1s;
    }
}
